/* Split the screen in half */
body {
    overflow: hidden; /* Hide scrollbars */
  }
.split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .split-r {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: blanchedalmond;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: seashell;
    overflow: auto;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    html {
      font-size: 12px;
    }
  }
  @media (max-width: 950px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-width: 805px) {
    .split {
        height: 40%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        padding-top: 20px;
      }
    
      .split-r {
        height: 60%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        padding-top: 20px;
      }

        /* Control the left side */
        .left {
            top: 0;
            background-color: blanchedalmond;
        }
        
        /* Control the right side */
        .right {
            top:unset;
            bottom: 0;
            background-color: seashell;
            overflow: auto;
        }
  }